*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    }

.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    background: #333131;
    Display:flex;  
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navegador a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    margin-left: 35px;
}
